* {
  --image-height: 300px;
  --accent-colour: #f359d6;
  --dark-accent-colour: #8f0a77;
  --dark-colour: #16171a;
  --light-colour: #f0effa;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 8vmin;
}

h3 {
  font-size: 6vmin;
}

p {
  font-size: 2vmin;
}

.container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navbar {
  --size: 10vh;
  height: var(--size);
  width: calc(100% - calc(2 * 20px));
  position: fixed;
  font-size: 2.8vw;
  background-image: linear-gradient(var(--accent-colour) 0%, rgba(0, 0, 0, 0) 100%);
  color: var(--light-colour);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  z-index: 1;
}

.navbar a {
  padding: 0;
  margin: 0;
  color: inherit;
  text-decoration: none;
}

.main-title {
  background-color: var(--accent-colour);
  color: var(--light-colour);
  height: 80vh;
  padding: 20px;
  margin: 0;
}

.main-title div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 100%;
  margin: auto;
}

.main-title h1 {
  text-align: center;
  margin: 0;
  padding: 10px;
}
.main-title p {
  text-align: left;
  margin: 0;
  padding: 10px;
  font-size: 1.3vmax;
}



.main-title div div {
  width: 35%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-title div img {
  width: 55%;
}

.info-blocks {
  --block-size: 60vh;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.info-blocks div {
  padding: 0;
  margin: 0;
  height: 60vh;
  width: 100%;
  border-radius: 0px;
  display: flex;
  overflow: hidden;
}
/*background image*/
.info-blocks>div>img {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: var(--block-size);
  z-index: -1;
}

.info-blocks div div {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0px;
  display: flex;

}

.info-blocks div div * {
  padding: 0;
  margin: 10px;
}
/*display image*/
.info-blocks>div>div>img {
  --upper-margin: 30px;
  padding: 0;
  margin: var(--upper-margin);
  object-fit: cover;
  flex: 0 0 calc(--block-size - calc(var(--upper-margin)));
  max-width: 50vw;
}

.info-blocks div div div {
  display: block;
}

.info-blocks div:nth-child(odd) div img {
  order: 1;
}

footer {
  background-color: var(--dark-colour);
  color: var(--light-colour);
  text-align: center;
  padding: 10px;
}