* {
  --image-height: 300px;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 4vh;
}

p {
  font-size: 2vh;
}

.container {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #e412bc;
  color: #16171a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
}

.navbar a {
  padding: 0;
  margin: 0;
  color: #16171a;
  text-decoration: none;
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #16171a;
  height: 40vh;
  padding: 20px;
  margin: 0;
}

.main-title h1 {
  color: #f0effa;
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 10vh;
}

.info-blocks {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.info-blocks div {
  padding: 0;
  margin: 0;
  height: 40vh;
  width: 100%;
  border-radius: 0px;
  display: flex;
}

.info-blocks div div{
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0px;
  display: block;

}
.info-blocks div div *{
  padding: 0;
  margin: 10px;
}
.info-blocks div div img{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  
  padding: 0;
  margin: 0;
  outline: solid 1px blue;
}

.info-blocks img {
  padding: 0;
  margin: 0;
  height: 100%;
  order: 2;
}

.info-blocks div:nth-child(even) div{
  order: 1;
}

.info-blocks div:nth-child(odd) div{
  order: 2;
}

footer {
  background-color: #16171a;
  color: #f0effa;
  text-align: center;
  padding: 10px;
}

